@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

:root {
  --projectFont: 'Poppins', sans-serif;
  --red: hsl(0, 78%, 62%);
  --cyan: hsl(180, 62%, 55%);
  --orange: hsl(34, 97%, 64%);
  --blue: hsl(212, 86%, 64%);
  --veryDarkBlue: hsl(234, 12%, 34%);
  --grayishBlue: hsl(229, 6%, 66%);
  --veryLightGray: hsl(0, 0%, 98%);
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--veryDarkBlue);
  font-family: var(--projectFont);
  margin: 20px;
}

header {
  max-width: 50rem;
}

.header__text {
  text-align: center;
  margin-top: 3rem;
}

.header__text h1 {
  font-size: 3rem;
  font-weight: 600;
}

.header__text .header__text-lighter {
  font-size: 3rem;
  font-weight: 200;
}

.header__text p {
  font-size: 1.5rem;
  font-weight: 400;

  padding-top: 3rem;
  padding-bottom: 3rem;
}

.main__cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 3rem 2rem;
  justify-items: center;
}

.main__card {
  box-shadow: 0px 14px 20px -5px rgba(218, 228, 240, 1);
  border-radius: 5px;
  max-width: 330px;
  padding: 3em;
}

.card__text {
  font-size: 1rem;
  margin: 0 2.5em 3em 0;
}

.card__text p {
  color: var(--grayishBlue);
  font-weight: 400;
}

.main__card-supervisor {
  grid-column: 1/1;
  grid-row: 2/4;
  border-top: 4px solid var(--cyan);
}

.main__card img {
  float: right;
}

.main__card-teambuilder {
  grid-column: 2/2;
  grid-row: 1/3;
  border-top: 4px solid var(--red);
}

.main__card-karma {
  grid-row: 3/5;
  grid-column: 2/2;
  border-top: 4px solid var(--orange);
}

.main__card-calculator {
  grid-row: 2/4;
  grid-column: 3/3;
  border-top: 4px solid var(--blue);
}

@media screen and (max-width: 768px) {
  body {
    /* max-height: 100%; */
  }
  .main__cards {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
  }

  .main__card-supervisor {
    grid-column: 1;
    grid-row: 1;
  }

  .main__card-teambuilder {
    grid-column: 1;
    grid-row: 2;
  }

  .main__card-karma {
    grid-column: 1;
    grid-row: 3;
  }

  .main__card-calculator {
    grid-column: 1;
    grid-row: 4;
  }
}
